<ion-header>
    <ion-navbar>
        <ion-row>
            <ion-col col-2>
                <button class="button-nav" (click)="voltar()">
                    <span ion-text style="font-size: 0.7em;">Voltar</span>
                </button>
            </ion-col>
            <ion-col col-10>
                <ion-title>Inspeção do Serviço</ion-title>
            </ion-col>
        </ion-row>
    </ion-navbar>
</ion-header>

<ion-content has-header>
    <ion-grid no-padding>
        <ion-row padding-left padding-right>
            <ion-col no-padding col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
                <form #cadastroForm="ngForm" padding-top>
                    <ion-item text-center text-wrap transparent style="padding-bottom: 0 !important;">
                        <ion-label style="font-size: 18px !important; font-weight: bold;" stacked>{{descServico.toUpperCase()}}</ion-label>
                    </ion-item>
                    <ion-item text-center transparent>
                        <ion-label stacked>INSPECIONADO POR</ion-label>
                        <ion-select required [(ngModel)]="inspecao.idFuncionarioInspecionado" multiple="false" name="idFuncionarioInspecionado"
                            okText="Ok" cancelText="Cancelar">
                            <ion-option *ngFor="let item of funcionarios; let i= index" [value]="item.id">{{item.nome}}</ion-option>
                        </ion-select>
                    </ion-item>
                    <ion-item text-center transparent>
                        <ion-label stacked>APROVADOR POR</ion-label>
                        <ion-select [(ngModel)]="inspecao.idFuncionarioAprovado" multiple="false" name="idFuncionarioAprovado"
                            okText="Ok" cancelText="Cancelar">
                            <ion-option *ngFor="let item of funcionarios; let i= index" [value]="item.id">{{item.nome}}</ion-option>
                        </ion-select>
                    </ion-item>
                    <ion-list radio-group no-margin [(ngModel)]="inspecao.status" name="status" (ngModelChange)="atualizarSituacao()">
                        <ion-grid>
                            <ion-row>
                                <ion-col col-6>
                                    <ion-item radio>
                                        <ion-label>Em aberto</ion-label>
                                        <ion-radio [value]="0"></ion-radio>
                                    </ion-item>
                                </ion-col>
                                <ion-col col-6>
                                    <ion-item radio>
                                        <ion-label>Finalizado</ion-label>
                                        <ion-radio [value]="1"></ion-radio>
                                    </ion-item>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-list>
                    <ion-list radio-group no-margin [(ngModel)]="item.inspecao1" name="itemInspecao1+{{i}}" *ngFor="let item of inspecao.inspecaoObraItens; let i=index;">
                        <h2 text-wrap style="font-weight: bold;">{{item.descricao}}</h2>
                        <ion-grid>
                            <ion-row>
                                <ion-col col-3>
                                    <ion-item radio style="background-color: blue;">
                                        <ion-label>NA</ion-label>
                                        <ion-radio [value]="'NA'" (ionSelect)="verificaLimparNA1(item)"></ion-radio>
                                    </ion-item>
                                </ion-col>
                                <ion-col col-3>
                                    <ion-item radio style="background-color: darkgreen;">
                                        <ion-label>A</ion-label>
                                        <ion-radio [value]="'A'" (ionSelect)="verificaLimparA1(item)"></ion-radio>
                                    </ion-item>
                                </ion-col>
                                <ion-col col-3>
                                    <ion-item radio style="background-color: yellow;">
                                        <ion-label>R</ion-label>
                                        <ion-radio [value]="'R'" (ionSelect)="verificaLimparR1(item)"></ion-radio>
                                    </ion-item>
                                </ion-col>
                                <ion-col col-3>
                                    <ion-item radio style="background-color: red;">
                                        <ion-label>X</ion-label>
                                        <ion-radio [value]="'X'" (ionSelect)="verificaLimparX1(item)"></ion-radio>
                                    </ion-item>
                                </ion-col>
                            </ion-row>
                            <ion-row *ngIf="item.inspecao1 == 'R'">
                                <ion-list radio-group no-margin [(ngModel)]="item.inspecao2" name="itemInspecao2+{{i}}" style="width: 100%">
                                    <ion-grid>
                                        <ion-row>
                                            <ion-col col-3></ion-col>
                                            <ion-col col-3>
                                                <ion-item radio style="background-color: orange;">
                                                    <ion-label>RA</ion-label>
                                                    <ion-radio [value]="'RA'" (ionSelect)="verificaLimparRA2(item)"></ion-radio>
                                                </ion-item>
                                            </ion-col>
                                            <ion-col col-3>
                                                <ion-item radio style="background-color: red;">
                                                    <ion-label>X</ion-label>
                                                    <ion-radio [value]="'X'" (ionSelect)="verificaLimparX2(item)"></ion-radio>
                                                </ion-item>
                                            </ion-col>
                                            <ion-col col-3></ion-col>
                                        </ion-row>
                                    </ion-grid>
                                </ion-list>
                            </ion-row>
                        </ion-grid>
                    </ion-list>
                </form>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-footer>
    <button ion-button default-button block text-capitalize box-shadow margin-bottom style="background-color: black !important;"
    (click)="salvar(cadastroForm.valid)">Salvar</button>
</ion-footer>