<ion-header>
    <ion-navbar>
        <ion-row class="pad-nav-page">
            <button class="button-nav" (click)="voltar()">
                <span ion-text>Voltar</span>
            </button>
        </ion-row>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-grid no-padding>
        <ion-row padding-left padding-right>
            <ion-col no-padding col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
                <form #cadastroForm="ngForm" padding-top>
                    <ion-item text-center transparent>
                        <ion-label stacked>DATA DE ABERTURA</ion-label>
                        <ion-datetime displayFormat="DD/MM/YYYY" name="inspecao.dataInspecao" [(ngModel)]="inspecao.dataInspecao"
                            cancelText="Cancelar" doneText="Ok"></ion-datetime>
                    </ion-item>
                    <ion-item text-center transparent>
                        <ion-label stacked>{{itemChecklist.campo1}}</ion-label>
                        <ion-input text-center type="text" [(ngModel)]="inspecao.campo1" name="local1"></ion-input>
                    </ion-item>
                    <ion-item text-center transparent *ngIf="itemChecklist.campo2">
                        <ion-label stacked>{{itemChecklist.campo2}}</ion-label>
                        <ion-input text-center type="text" [(ngModel)]="inspecao.campo2" name="local2"></ion-input>
                    </ion-item>
                    <ion-item text-center transparent *ngIf="itemChecklist.campo3">
                        <ion-label stacked>{{itemChecklist.campo3}}</ion-label>
                        <ion-input text-center type="text" [(ngModel)]="inspecao.campo3" name="local3"></ion-input>
                    </ion-item>
                    <ion-item text-center transparent *ngIf="itemChecklist.campo4">
                        <ion-label stacked>{{itemChecklist.campo4}}</ion-label>
                        <ion-input text-center type="text" [(ngModel)]="inspecao.campo4" name="local4"></ion-input>
                    </ion-item>
                    <button ion-button default-button block text-capitalize box-shadow margin-bottom style="background-color: rgb(33,177,75) !important;"
                        (click)="salvar(cadastroForm.valid)">Salvar</button>
                </form>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>