<ion-header>
    <ion-navbar>
        <ion-row>
            <ion-col col-1>
                <button ion-button menuToggle>
                    <ion-icon class="icon-menu" name="menu"></ion-icon>
                </button>
            </ion-col>
            <ion-col col-8 m-auto>
                <div buy no-padding>
                    <ion-title>
                        Localização do Serviço
                    </ion-title>
                </div>
            </ion-col>
            <ion-col col-2 m-auto>
                <div buy (click)="voltarHome()">
                    <ion-icon class="icon-menu home-icon" name="home"></ion-icon>
                </div>
            </ion-col>
        </ion-row>
    </ion-navbar>
</ion-header>

<ion-content>
    <h2 text-center text-wrap class="broadcomb">{{broadcomb.toUpperCase()}}</h2>
    <h2 padding text-center class="aviso" *ngIf="inspecoes.length < 1">Nenhum registro encontrado.</h2>
    <ion-grid no-padding>
        <ion-row *ngIf="servico.status == 0">
            <button ion-button default-button block text-capitalize box-shadow margin-bottom class="button-novo"
                (click)="novaInspecao()">Nova inspeção</button>
        </ion-row>
        <ion-row>
            <ion-col class="col-search" col-12 *ngIf="inspecoesBackup.length > 0">
                <ion-searchbar [placeholder]="'Filtrar pelo local'" (ionInput)="filtrar($event.target.value)"></ion-searchbar>
            </ion-col>
            <ion-col col-12>
                <ion-list radio-group no-margin [(ngModel)]="servico.status" name="status" (ngModelChange)="atualizarStatus()">
                    <ion-grid>
                        <ion-row>
                            <ion-col col-6>
                                <ion-item radio>
                                    <ion-label text-center>Em aberto</ion-label>
                                    <ion-radio [value]="0"></ion-radio>
                                </ion-item>
                            </ion-col>
                            <ion-col col-6>
                                <ion-item radio>
                                    <ion-label text-center>Finalizado</ion-label>
                                    <ion-radio [value]="1"></ion-radio>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-list>
            </ion-col>
            <ion-col col-12>
                <ion-list no-margin>
                    <ion-item default-item no-lines [ngClass]="{'novo-item': !item.id, 'item-removido': item.delete}"
                        *ngFor="let item of inspecoes; let i = index;">
                        <ion-row class="espacamento">
                            <ion-col col-10 (click)="abrirItensInspecao(item)">
                                <h2 item-title text-wrap *ngIf="itemChecklist.campo1">{{itemChecklist.campo1}}:
                                    {{item.campo1}}</h2>
                                <h2 item-title text-wrap *ngIf="itemChecklist.campo2">{{itemChecklist.campo2}}:
                                    {{item.campo2}}</h2>
                                <h2 item-title text-wrap *ngIf="itemChecklist.campo3">{{itemChecklist.campo3}}:
                                    {{item.campo3}}</h2>
                                <h2 item-title text-wrap *ngIf="itemChecklist.campo4">{{itemChecklist.campo4}}:
                                    {{item.campo4}}</h2>
                                <h3 item-situacao text-wrap>Situação: {{item.situacao}}</h3>
                                <h3 item-situacao text-wrap>Abertura: {{item.dataInspecao ? (item.dataInspecao | date:
                                    'dd/MM/yyyy') : 'Não informada'}}</h3>
                                <h3 item-situacao text-wrap>Encerramento: {{item.dataEncerramento ?
                                    (item.dataEncerramento | date: 'dd/MM/yyyy') : 'Não informada'}}</h3>
                            </ion-col>
                            <ion-col col-2>
                                <ion-icon name="more" icon-small item-right style="font-size: 32px !important; margin: 0px"
                                    (click)="exibirOpcoes(item)"></ion-icon>
                            </ion-col>
                        </ion-row>
                        <ion-row class="espacamento" style="padding: 0 0 10px 0 !important;">
                            <ion-col col-1></ion-col>
                            <ion-col col-2 style="background-color: blue;">
                                <h2 item-title text-wrap no-margin text-center>NA</h2>
                                <h3 item-situacao text-wrap no-margin text-center>{{item.qtdNA}}</h3>
                            </ion-col>
                            <ion-col col-2 style="background-color: darkgreen;">
                                <h2 item-title text-wrap no-margin text-center>A</h2>
                                <h3 item-situacao text-wrap no-margin text-center>{{item.qtdA}}</h3>
                            </ion-col>
                            <ion-col col-2 style="background-color: yellow;">
                                <h2 text-wrap negrito no-margin text-center>R</h2>
                                <h3 text-wrap negrito no-margin text-center>{{item.qtdR}}</h3>
                            </ion-col>
                            <ion-col col-2 style="background-color: red;">
                                <h2 item-title text-wrap no-margin text-center>X</h2>
                                <h3 item-situacao text-wrap no-margin text-center>{{item.qtdX}}</h3>
                            </ion-col>
                            <ion-col col-2 style="background-color: orange;">
                                <h2 item-title text-wrap no-margin text-center>RA</h2>
                                <h3 item-situacao text-wrap no-margin text-center>{{item.qtdRA}}</h3>
                            </ion-col>
                            <ion-col col-1></ion-col>
                        </ion-row>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>