page-checklist {

    .header-novo {
        height: 50px;
    }

    .button-novo {
        width: 100%;
    }

    .home-icon {
        background-color: transparent;
        font-size: 25px;
        margin-top: 1px;
        color: #f1f1f1;
    }
    
}