<ion-header>
  <ion-navbar class="pad-nav-page">
    <button ion-button menuToggle>
      <ion-icon class="icon-menu" name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content>
  <h1 *ngIf="!progressbarAtivo" padding text-center class="boas-vindas" style="margin-bottom: 0;padding-bottom: 0;">Checklist de Obras</h1>
  <h1 *ngIf="!progressbarAtivo" padding text-center class="boas-vindas" style="margin-top: 5px;padding-top: 0;">Bem vindo</h1>
  <ion-grid *ngIf="!progressbarAtivo">
    <ion-row>
      <button menuClose ion-item default-item item-title main-menu no-lines class="mt-6 mb-6" *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon outline icon-small icon-left>
          <ion-icon [name]="p.icon"></ion-icon>
        </ion-icon>
        {{p.title}}
      </button>
    </ion-row>
  </ion-grid>
  <div class="progress-outer" *ngIf="progressbarAtivo">
    <div class="progress-inner" [style.width]="progress + '%'">
      {{this.Math.round(progress*100)/100}}%
    </div>
  </div>
  <h2 *ngIf="progressbarAtivo" text-center style="color: red; font-weight: bold;">{{segundos}} segundos</h2>
</ion-content>