page-home {

    .boas-vindas {
        font-weight: bold;
    }

    .instrucao {
        font-size: 18px !important;
        padding: 0px !important;
        margin-top: 0px !important;
    }

    .progress-outer {
        width: 96%;
        margin: 10px 2%;
        padding: 3px;
        text-align: center;
        background-color: #f4f4f4;
        border: 1px solid #dcdcdc;
        color: #fff;
        border-radius: 20px;
    }
 
    .progress-inner {
        min-width: 15%;
        white-space: nowrap;
        overflow: hidden;
        padding: 5px;
        border-radius: 20px;
        background-color: rgb(33,177,75);
    }

    .mt-6 {
        margin-top: 6px !important;
    }

    .mb-6 {
        margin-bottom: 6px !important;
    }

    .green {
        background-color: #21b14b !important;
    }

    .orange {
        background-color: orange !important;
    }

    .red {
        background-color: red !important;
    }

}
  