<ion-header>
    <ion-navbar>
        <ion-row class="pad-nav-page">
            <button class="button-nav" (click)="voltar()">
                <span ion-text>Voltar</span>
            </button>
        </ion-row>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-grid no-padding>
        <ion-row padding-left padding-right>
            <ion-col no-padding col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
                <form #cadastroForm="ngForm" padding-top>
                    <ion-item text-center transparent>
                        <ion-label stacked>ORDEM</ion-label>
                        <ion-input text-center required type="number" [(ngModel)]="itemChecklist.ordem" name="ordem"></ion-input>
                    </ion-item>
                    <ion-item text-center transparent>
                        <ion-label stacked>DESCRIÇÃO</ion-label>
                        <ion-textarea rows="3" text-center required type="text" [(ngModel)]="itemChecklist.descricao"
                            name="descricao"></ion-textarea>
                    </ion-item>

                    <button ion-button default-button block text-capitalize box-shadow margin-bottom style="background-color: rgb(33,177,75) !important;"
                        (click)="adicionar(cadastroForm.valid)">{{isEdicao ? 'Atualizar' : 'Adicionar'}}</button>
                    <button *ngIf="isEdicao" ion-button default-button block text-capitalize box-shadow margin-bottom
                        style="background-color: rgb(33,177,75) !important;" (click)="limpar()">Limpar</button>
                    <button ion-button default-button block text-capitalize box-shadow margin-bottom style="background-color: rgb(33,177,75) !important;"
                        (click)="concluir()">Concluir</button>

                    <h3 text-center *ngIf="itens.length > 0" class="locais" style="margin-bottom: 0px;">Itens de
                        checklist adicionados</h3>

                    <h3 text-center *ngIf="itens.length == 0" class="locais">Nenhum item de checklist adicionado</h3>
                    <ion-list *ngIf="itens.length > 0">
                        <ion-item text-wrap class="list-item" *ngFor="let item of itens" (click)="editarItem(item)">
                            {{item.ordem}} - {{item.descricao.toUpperCase()}}
                        </ion-item>
                    </ion-list>

                </form>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>